.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  z-index: 300;
}

.full-width {
  width: 100%;
}

::ng-deep .cdk-overlay-container {
  z-index: 1100;
}

.modal-content {
  height:200px;
}
